<html>
    <head>
        <meta charset="utf-8">
        <link href="/style/shops/product.css" rel="stylesheet" type="text/css"/>        
        <script src="/script/jquery-3.2.1.js" type="text/javascript"></script>
        <script src="/script/jquery.min.js" type="text/javascript"></script>
        <!--<script src="/script/shop/script.js" type="text/javascript"></script>-->
        <script>
        $(document).ready(function(){
            $.post('/getSubTovar', function(data){
                console.log(data);
            });          
        });    
        </script>
    </head>
    <body>      
        <div class="content">      
            <div id="tivarIDs" style="opacity: 0"><%= data[0].id %></div>
            <div class="title-block"><%= data[0].name %></div>
            <div class="product-data">               
                <div class="product-top">
                    <div class="product-images" style="background-image: url(../../../content/tovarImage/<%= data[0].id %>.jpg)">
                        <div class="water_sec"></div>
                        <div class="tovar-stars">
                            <div class="stars-title">Оцінка покупців</div>
                            <div class="stars">
                                 
                                <div class="star <% if((data[0].star / data[0].len) > 0){ %> st2 <% }else { %> st1 <% } %> "><span>1</span></div>
                                <div class="star <% if((data[0].star / data[0].len) > 1){ %> st2 <% }else { %> st1 <% } %> "><span>2</span></div>
                                <div class="star <% if((data[0].star / data[0].len) > 2){ %> st2 <% }else { %> st1 <% } %> "><span>3</span></div>
                                <div class="star <% if((data[0].star / data[0].len) > 3){ %> st2 <% }else { %> st1 <% } %> "><span>4</span></div>
                                <div class="star <% if((data[0].star / data[0].len) > 4){ %> st2 <% }else { %> st1 <% } %> "><span>5</span></div>
                            </div>
                            <script>
                           $(document).ready(function(){
                               $('.star').click(function(){
                                   var index = $('.star').index(this);
                                   $.post('/setStars', {bal: (index +1), id: $("#tivarIDs").html()}, function(a){
                                       console.log(a);
                                   });
                               });
                           });    
                           </script>                            
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-text"><%= data[0].text %></div>
                        <div class="product-sklad"><%= data[0].sklad %></div>
                        <div class="tovar-right-bottom">
                            <div class="price">
                                Ціна: <%= data[0].price %> .00
                            </div>
                            <div class="addCart">
                                <% if(data[0].length > 10){ %>
                                <div class="nayavnist green">
                                    Є в наявності
                                </div>
                                <% } %> 
                                <% if(data[0].length > 0 && data[0].length < 10){ %>
                                <div class="nayavnist yellow">
                                    Товар закінчується
                                </div>
                                <% } %> 
                                <% if(data[0].length == 0){ %>
                                <div class="nayavnist red">
                                    Немає в наявності
                                </div>
                                <% } %>   

                                <% if(data[0].length == 0){ %>
                                <div class="button bGreen disBtn">Додати в кошик</div>                                
                                <% } else { %>
                                <div class="button bGreen">Додати в кошик</div>
                                <% } %>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-bottom">
                    <div class="recomended-block">
                        <div class="recomended-title">до цього товару Пан Різник рекомендує</div>
                        <div class="recomended-data">
                            
                            <div class="recomended-tovar">
                                <div class="recomended-tovarImage"></div>
                                <div class="recomended-tovar-title">test test</div>
                                <div class="recomended-tovar-btn">Додати в кошик</div>
                            </div>
                            
                            <div class="recomended-tovar">
                                <div class="recomended-tovarImage"></div>
                                <div class="recomended-tovar-title">test test</div>
                                <div class="recomended-tovar-btn">Додати в кошик</div>
                            </div>
                            
                            <div class="recomended-tovar">
                                <div class="recomended-tovarImage"></div>
                                <div class="recomended-tovar-title">test test</div>
                                <div class="recomended-tovar-btn">Додати в кошик</div>
                            </div>
                            
                            <div class="recomended-tovar">
                                <div class="recomended-tovarImage"></div>
                                <div class="recomended-tovar-title">test test</div>
                                <div class="recomended-tovar-btn">Додати в кошик</div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="comment-block">
                        <div class="comment-title">Коментарі</div>
                        <div class="comment-data">
                            <div class="comment">
                                <div class="comment-user-name">test</div>
                                <div class="comment-user-msg">test comment message. This block it's you testing</div>
                                <div class="comment-date">01.08.2018</div>
                            </div>
                            <div class="comment">
                                <div class="comment-user-name">test</div>
                                <div class="comment-user-msg">test comment message. This block it's you testing</div>
                                <div class="comment-date">01.08.2018</div>
                            </div>
                            <div class="comment">
                                <div class="comment-user-name">test</div>
                                <div class="comment-user-msg">test comment message. This block it's you testing</div>
                                <div class="comment-date">01.08.2018</div>
                            </div>
                            <div class="comment">
                                <div class="comment-user-name">test</div>
                                <div class="comment-user-msg">test comment message. This block it's you testing</div>
                                <div class="comment-date">01.08.2018</div>
                            </div>
                            <div class="comment">
                                <div class="comment-user-name">test</div>
                                <div class="comment-user-msg">test comment message. This block it's you testing</div>
                                <div class="comment-date">01.08.2018</div>
                            </div>
                            <div class="comment">
                                <div class="comment-user-name">test</div>
                                <div class="comment-user-msg">test comment message. This block it's you testing</div>
                                <div class="comment-date">01.08.2018</div>
                            </div>
                        </div>
                        <div class="send-comment">
                            <div class="comment-text">
                                <textarea class="commentar" id="comment-area" placeholder="Введіть ваш коментар"></textarea>
                                <div class="comment-button">Відправити</div>
                                <div class="comment-smile">☺</div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </body>

</html>


